<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=rss_feed" />
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{ if .Params.katex }}{{ partial "katex.html" . }}{{ end }}
</head>

<body>
    <div class="wrapper">
        <header class="site-header">
            <div class="site-header-logo">
                <a href="/">{{ .Site.Title }}</a>
            </div>
            <nav class="site-header-nav">
                <a href='{{ref . "about"}}'>About</a>
                <a href="/index.xml" type="application/rss+xml" title="RSS Feed">
                    <span class="material-symbols-outlined">
                        rss_feed
                    </span>
                </a>
            </nav>
        </header>

        <main role="main">
            {{- block "main" . }}{{- end }}
        </main>
    </div>
</body>

</html>
